<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>receipt_db</display-name>


    <!--Login form-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Backend Resources</web-resource-name>
            <url-pattern>/backendAdmin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>一般使用者</role-name>
            <role-name>管理者</role-name>
            <role-name>一般公司管理者</role-name>
            <role-name>一般公司會計者</role-name>
            <role-name>一般公司使用者</role-name>
            <role-name>一般公司開立發票人員</role-name>
            <role-name>一般公司中獎清冊使用者</role-name>
            <role-name>會計公司使用者</role-name>
            <role-name>POS公司使用者</role-name>
            <role-name>POS介接公司使用者</role-name>
            <role-name>一般介接公司使用者</role-name>
            <role-name>一般介接公司中獎清冊使用者</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>一般使用者</role-name>
    </security-role>
    <security-role>
        <role-name>管理者</role-name>
    </security-role>
    <security-role>
        <role-name>一般公司管理者</role-name>
    </security-role>
    <security-role>
        <role-name>一般公司會計者</role-name>
    </security-role>
    <security-role>
        <role-name>一般公司使用者</role-name>
    </security-role>
    <security-role>
        <role-name>一般公司開立發票人員</role-name>
    </security-role>
    <security-role>
        <role-name>一般公司中獎清冊使用者</role-name>
    </security-role>
    <security-role>
        <role-name>會計公司使用者</role-name>
    </security-role>
    <security-role>
        <role-name>POS公司使用者</role-name>
    </security-role>
    <security-role>
        <role-name>POS介接公司使用者</role-name>
    </security-role>
    <security-role>
        <role-name>一般介接公司使用者</role-name>
    </security-role>
    <security-role>
        <role-name>一般介接公司中獎清冊使用者</role-name>
    </security-role>
    <security-role>
        <role-name>停用</role-name>
    </security-role>
    <security-role>
        <role-name>密碼錯誤</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>BackendRealm</realm-name>
        <form-login-config>
            <form-login-page>/backendAdmin/login.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <!--other protected area-->
    <!--<security-constraint>-->
    <!--<web-resource-collection>-->
    <!--<web-resource-name>Backend Resources</web-resource-name>-->
    <!--<url-pattern>/backendAdmin/sub/*</url-pattern>-->
    <!--</web-resource-collection>-->
    <!--<auth-constraint>-->
    <!--<role-name>simpleMember</role-name>-->
    <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <filter>
        <filter-name>CharacterEncoding</filter-name>
        <filter-class>com.gate.web.filters.ChangeCharsetFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>LogDataFilter</filter-name>
        <filter-class>com.gate.web.filters.LogDataFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogDataFilter</filter-name>
        <url-pattern>/backendAdmin/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>SessionClean</filter-name>
        <filter-class>com.gate.web.filters.SessionCleanFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionClean</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CompanyIdFilter</filter-name>
        <filter-class>com.gate.web.filters.CompanyIdFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CompanyIdFilter</filter-name>
        <url-pattern>/backendAdmin/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.gate.web.servlets.backend.common.UploadServlet</servlet-class>
        <multipart-config>
            <location>C:/temp</location>
            <max-file-size>5242880</max-file-size>
            <max-request-size>5242880</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/backendAdmin/uploadServlet</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>160</session-timeout>
    </session-config>

    <!--<welcome-file-list>-->
        <!--<welcome-file>/backendAdmin/template/template.jsp</welcome-file>-->
    <!--</welcome-file-list>-->

    <welcome-file-list>
        <welcome-file>backendAdmin/loginServlet</welcome-file>
    </welcome-file-list>



    <!--<error-page>-->
        <!--<location>/general_error.jsp</location>-->
    <!--</error-page>-->

    <error-page>
        <error-code>408</error-code>
        <location>/login_error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/login_error.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
