<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --[%15.15t] %-30.30c{1.} : %m%n%ex
        </Property>
        <property name="LOG_HOME">logs</property>
        <property name="FILE_NAME">charge</property>
    </Properties>
    <Appenders>
        <Gelf name="gelf" host="udp:34.80.231.41" port="12201" version="1.0" extractStackTrace="true"
              filterStackTrace="true" mdcProfiling="true" includeFullMdc="true" maximumMessageSize="8192"
              originHost="ChargeSystemLog" additionalFieldTypes="fieldName1=String,fieldName2=Double,fieldName3=Long"
              ignoreExceptions="true">
            <Field name="timestamp" pattern="%d{dd MMM yyyy HH:mm:ss,SSS}" />
            <Field name="level" pattern="%level" />
            <Field name="simpleClassName" pattern="%C{1}" />
            <Field name="className" pattern="%C" />
            <Field name="server" pattern="%host" />
            <Field name="server.fqdn" pattern="%host{fqdn}" />
            <Field name="fieldName2" literal="fieldValue2" /> <!-- This is a static field -->
            <Field name="mdcField2" mdc="mdcField2" /> <!-- This is a field using MDC -->
            <DynamicMdcFields regex="mdc.*" />
            <DynamicMdcFields regex="(mdc|MDC)fields" />
            <DynamicMdcFieldType regex="my_field.*" type="String" />
        </Gelf>

        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingRandomAccessFile name="CHA_PROJECT"
                                 fileName="${LOG_HOME}/${FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <RollingFile name="springframework"
                     fileName="logs/springframework.log"
                     filePattern="logs/springframework-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{10} (%F:%L) - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.gate" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="CHA_PROJECT"/>
            <AppenderRef ref="gelf"/>
        </Logger>
        <Logger name="dao" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="CHA_PROJECT"/>
            <AppenderRef ref="gelf"/>
        </Logger>
        <Logger name="com.gateweb" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="CHA_PROJECT"/>
            <AppenderRef ref="gelf"/>
        </Logger>
        <logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="springframework"/>
            <AppenderRef ref="CHA_PROJECT"/>
        </logger>
        <logger name="org.springframework.transaction" level="error" additivity="false">
            <AppenderRef ref="springframework"/>
            <AppenderRef ref="CHA_PROJECT"/>
        </logger>
        <logger name="org.springframework.transaction.interceptor" level="error" additivity="false">
            <AppenderRef ref="springframework"/>
            <AppenderRef ref="CHA_PROJECT"/>
        </logger>
        <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="error" additivity="false">
            <AppenderRef ref="springframework"/>
            <AppenderRef ref="CHA_PROJECT"/>
        </logger>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="gelf"/>
        </Root>
    </Loggers>
</Configuration>