<?xml version="1.0" encoding="UTF-8"?>
<menu-define>
    <role id="100" name="帳務管理者">
        <menu id="billingItem_menu" name="待結清單列表" url="/backendAdmin/billingItemManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="contract_menu" name="合約管理" url="/backendAdmin/contractManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="newGrade_menu" name="級距管理" url="/backendAdmin/newGradeManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="chargeRule_menu" name="計費規則管理" url="/backendAdmin/chargeRuleManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="chargePackage_menu" name="計費方案管理" url="/backendAdmin/chargePackageManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="deduct_menu" name="預繳與扣抵列表" url="/backendAdmin/deductManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="bill_menu" name="帳單管理" url="/backendAdmin/billManagementServlet?sessionClean=Y" enable="true" pop="true"/>
<!--        <menu id="product_menu" name="商品管理" url="/backendAdmin/productManagementServlet?sessionClean=Y" enable="true" pop="true"/>-->
        <menu id="chargeSource_menu" name="資料來源檢視" url="/backendAdmin/chargeSourceManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="invoiceRemainingView_menu" name="以張計費張數檢視" url="/backendAdmin/invoiceRemainingViewServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="p2bIasrReport_menu" name="公司發票營收統計表" url="/backendAdmin/p2bReportViewServlet?sessionClean=Y" enable="true" pop="true"/>
    </role>
    <role id="600" name="帳務管理者">
        <menu id="billingItem_menu" name="待結清單列表" url="/backendAdmin/billingItemManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="contract_menu" name="合約管理" url="/backendAdmin/contractManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="newGrade_menu" name="級距管理" url="/backendAdmin/newGradeManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="chargeRule_menu" name="計費規則管理" url="/backendAdmin/chargeRuleManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="chargePackage_menu" name="計費方案管理" url="/backendAdmin/chargePackageManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="deduct_menu" name="預繳與扣抵列表" url="/backendAdmin/deductManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="bill_menu" name="帳單管理" url="/backendAdmin/billManagementServlet?sessionClean=Y" enable="true" pop="true"/>
<!--        <menu id="product_menu" name="商品管理" url="/backendAdmin/productManagementServlet?sessionClean=Y" enable="true" pop="true"/>-->
        <menu id="chargeSource_menu" name="資料來源檢視" url="/backendAdmin/chargeSourceManagementServlet?sessionClean=Y" enable="true" pop="true"/>
        <menu id="invoiceRemainingView_menu" name="以張計費張數檢視" url="/backendAdmin/invoiceRemainingViewServlet?sessionClean=Y" enable="true" pop="true"/>
    </role>
</menu-define>
