<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
    <appender name="std_out" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%c]  %m%n"/>
        </layout>
    </appender>
    <appender name="webInfo" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"
               value="d:/logs/RECEIPT_INFO.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%c]  %m%n"/>
        </layout>
    </appender>
    <appender name="winnerPrinter" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"
               value="d:/logs/Printer.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%c]  %m%n"/>
        </layout>
    </appender>
    <appender name="webSocket" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"
               value="d:/logs/WebSocket_INFO.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%c]  %m%n"/>
        </layout>
    </appender>
    <!-- by package group ，利用package來分模組 -->
    <category name="com.gate">
        <priority value="info"/>
        <appender-ref ref="std_out"/>
        <appender-ref ref="webInfo"/>
    </category>
    <category name="dao">
        <priority value="info"/>
        <appender-ref ref="std_out"/>
        <appender-ref ref="webInfo"/>
    </category>
    <category name="com.gate.web.websocket">
        <priority value="info"/>
        <!--<appender-ref ref="std_out"/>-->
        <appender-ref ref="webSocket"/>
    </category>
    <category name="com.gate.web.servlets.backend.invoice.InvoicePrizeSearchServlet">
        <priority value="info"/>
        <appender-ref ref="std_out"/>
        <appender-ref ref="winnerPrinter"/>
    </category>
</log4j:configuration>