<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    ">
<!-- 	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
 -->	
		
	<aop:config>
		<aop:pointcut id="TurnkeyFacadePoint"
			expression="execution(* com.gateweb.turnkey.service.impl.TurnkeyFacadeImpl.*(..))" />
		<aop:advisor advice-ref="txAdviceTurnkey" pointcut-ref="TurnkeyFacadePoint" />
	</aop:config>
		
	<jpa:repositories base-package="com.gateweb.turnkey.repository" 
		entity-manager-factory-ref="entityManagerFactoryTurnkey"
		transaction-manager-ref="transactionManagerTurnkey" />

	<bean id="jpaDataSourceTurnkey" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${turnkey.jdbc.driverClassName}" />
		<property name="url" value="${turnkey.jdbc.url}" />
		<property name="username" value="${turnkey.jdbc.username}" />
		<property name="password" value="${turnkey.jdbc.password}" />
		<property name="maxTotal" value="${jdbc.maxTotal}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<property name="maxWaitMillis" value="${jdbc.maxWaitMillis}" />
		<property name="logAbandoned" value="${jdbc.logAbandoned}" />
		<property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}" />
		<property name="removeAbandonedOnMaintenance" value="${jdbc.removeAbandonedOnMaintenance}" />
		<property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit}" />
	</bean>

	<bean id="entityManagerFactoryTurnkey"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="jpaDataSourceTurnkey" />
		<property name="jtaDataSource" ref="jpaDataSourceTurnkey" />
		<property name="persistenceUnitName" value="turnkeyFacade" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="${jdbc.showSql}" />
				<property name="generateDdl" value="${jdbc.generateDdl}" />
				<property name="databasePlatform" value="${turnkey.jdbc.dialect}" />
			</bean>
		</property>
		<property name="jpaProperties">
	       <props>
	            <prop key="hibernate.hbm2ddl.auto">${jdbc.hbm2dll.auto}</prop>
	            <prop key="hibernate.default_schema">${jdbc.default.schema}</prop>
	       </props>
		</property>	
	</bean>

	<bean id="transactionManagerTurnkey" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactoryTurnkey" />
		<property name="dataSource" ref="jpaDataSourceTurnkey" />
	</bean>

	<tx:advice id="txAdviceTurnkey" transaction-manager="transactionManagerTurnkey">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="revert*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="send*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="deprecate*" propagation="REQUIRED" rollback-for="Throwable" />						
			<tx:method name="*" propagation="REQUIRED" read-only="true" />			
		</tx:attributes>
	</tx:advice>

</beans>
