<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    ">
 	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<aop:config>
		<aop:pointcut id="EinvFacadePoint"
			expression="execution(* com.gateweb.einv.service.impl.EinvFacadeImpl.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="EinvFacadePoint" />
	</aop:config>
	
	<jpa:repositories base-package="com.gateweb.einv.repository"  
		entity-manager-factory-ref="entityManagerFactory"
		transaction-manager-ref="transactionManager" />

	<!-- Exception translation bean post processor -->
	<bean id="persistenceExceptionTranslationPostProcessor"
      	  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="jpaDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxTotal" value="${jdbc.maxTotal}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<property name="maxWaitMillis" value="${jdbc.maxWaitMillis}" />
		<property name="logAbandoned" value="${jdbc.logAbandoned}" />
		<property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}" />
		<property name="removeAbandonedOnMaintenance" value="${jdbc.removeAbandonedOnMaintenance}" />
		<property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit}" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="jpaDataSource" />
		<property name="jtaDataSource" ref="jpaDataSource" />
		<property name="persistenceUnitName" value="einvFacade" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="${jdbc.showSql}" />
				<property name="generateDdl" value="${jdbc.generateDdl}" />
				<property name="databasePlatform" value="${jdbc.dialect}" />
			</bean>
		</property>
		<property name="jpaProperties">
	       <props>
	            <prop key="hibernate.hbm2ddl.auto">${jdbc.hbm2dll.auto}</prop>
	            <prop key="hibernate.default_schema">${jdbc.default.schema}</prop>
	       </props>
		</property>	
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="jpaDataSource" />
	</bean>
<!--
	<tx:annotation-driven transaction-manager="transactionManager" />
-->	

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="batchUp*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="revert*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="send*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="deprecate*" propagation="REQUIRED" rollback-for="Throwable" />						
			<tx:method name="*" propagation="REQUIRED" read-only="true" />			
		</tx:attributes>
	</tx:advice>	
	


</beans>
