<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security.xsd">

	<!--  <security:debug />  -->

	
	
	<!-- Session 失效後 記錄目前url 供登入後使用 
	<bean id="beforeSessionFilter" class="com.meshinnovation.web.crm.security.provider.BeforeSessionFilter"/>
-->
	<!-- 執行login Form 前動作 
	<bean id="beforeFormLoginFilter" class="com.meshinnovation.web.crm.security.provider.BeforeFormLoginFilter"/>
	-->
	<!--  檢查尚未login 後  導向login頁面前記錄url
	<bean id="preLoginFilter" class="com.meshinnovation.web.crm.security.provider.PreLoginFilter"/>
	-->
	<!-- login 後將loginUser / 語系等資料放入session 
	<bean id="loginHandler" class="com.meshinnovation.web.crm.security.provider.LoginHandler"/>
	-->
	<!-- login 失敗，紀錄失敗次數
	<bean id="loginFailedHandler" class="com.meshinnovation.web.crm.security.provider.LoginFailedHandler"/>
	 -->
	<!--  自訂logoutHandler 登出時記錄登出時間
	<bean id="logoutHandler" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<constructor-arg value="/loginpage.jsp" />
		<constructor-arg>
			<list>
				<bean class="com.meshinnovation.web.crm.security.provider.LogoutHandler" />
			</list>
		</constructor-arg>
		<property name="filterProcessesUrl" value="/Login_logout" />
	</bean>	
	-->
	
	<bean id="tokenRepository"
          class="org.springframework.security.web.authentication.rememberme.InMemoryTokenRepositoryImpl">
    </bean>	
    		
	 <security:authentication-manager>
		<security:authentication-provider user-service-ref="chargeUserFacade" >
		   <!--  <security:password-encoder hash="bcrypt" /> -->
		</security:authentication-provider>
	</security:authentication-manager>

	<security:http pattern="/js/*" security="none" />
	<security:http pattern="/flowplayer**/**" security="none" />
	<security:http pattern="/flowplayer3/**" security="none" />
	<security:http pattern="/resources/*" security="none" />
	<security:http pattern="/favicon.ico" security="none" />
	<security:http pattern="/struts/**" security="none" />
	<security:http pattern="/**/*.js" security="none" />
	<security:http pattern="/**/*.css" security="none" />
	<security:http pattern="/**/*.swf" security="none" />
	<security:http pattern="/**/*.jpg" security="none" />
	<security:http pattern="/**/*.png" security="none" />
	<security:http pattern="/**/*.gif" security="none" />
	<security:http pattern="/**/*fileName*.jpg" security="none" />
	<security:http pattern="/MailSignature" security="none" />
	<security:http pattern="/privatePage" security="none" />
	<security:http pattern="/policyPage" security="none" />
	<security:http pattern="/Unsubscribe" security="none" />
	<security:http pattern="/themes/**" security="none" />
	<security:http pattern="/images/**" security="none" />
	<security:http pattern="/Index*" security="none" />
	<security:http pattern="/ResetPassword*" security="none" />
	<security:http pattern="/Login_recaptcha*" security="none" />
	<security:http pattern="/service/*" security="none" />
	
	<security:http pattern="/Resource_redirect" security="none" />
	<security:http pattern="/js/gadget/*" security="none" />
	<security:http pattern="/assets/**" security="none" />
	<security:http pattern="/vendors/**" security="none" />
	<security:http pattern="/bootstrap**/**" security="none" />
	<security:http pattern="/ActivitiesAjax_ajaxGadgetData*" security="none" />


	<security:global-method-security pre-post-annotations="enabled"/>
	<!-- 20160302 <security:http auto-config="true" use-expressions="true">	 -->
	<security:http use-expressions="true">	
	<security:access-denied-handler error-page="/login_error.jsp"/>
	<!-- 20160302 -->
	<!-- <security:headers disabled="true"/> -->
	<security:csrf disabled="true"/>
	<security:form-login
			login-page="/login.jsp" 
			login-processing-url="/j_spring_security_check"
			default-target-url="/backendAdmin/loginServlet" 
			always-use-default-target="false"
			authentication-failure-url="/login.jsp?error=true"
			username-parameter="username"
			password-parameter="password"
	/>
	 <!-- enable remember me -->
   <security:remember-me 
   		user-service-ref="chargeUserFacade"
        token-validity-seconds="1209600"
		remember-me-parameter="remember-me"
		token-repository-ref="tokenRepository" />	
		<!--  <security:remember-me services-ref="rememberMeServices"/> -->

		<!-- set filter
		<security:custom-filter before="LOGOUT_FILTER" ref="logoutHandler"/>
		<security:custom-filter before="FILTER_SECURITY_INTERCEPTOR " ref="preLoginFilter"/>
		<security:custom-filter before="CONCURRENT_SESSION_FILTER" ref="beforeSessionFilter"/>
		<security:custom-filter before="FORM_LOGIN_FILTER" ref="beforeFormLoginFilter"/>
 -->
		<security:intercept-url pattern="/**/OAuth*" access="permitAll" />
		<security:intercept-url pattern="/**/j_spring_security_*" access="permitAll" />
		<security:intercept-url pattern="/**/login.jsp" access="permitAll" />
		<security:intercept-url pattern="/**/index.jsp" access="permitAll" />
		<security:intercept-url pattern="/**/test*.jsp" access="permitAll" />
		<security:intercept-url pattern="/**/xeon*.jsp" access="permitAll" />
		<security:intercept-url pattern="/pages/**.*" access="permitAll" />
		<security:intercept-url pattern="/**/**.jsp" access="permitAll" />
		<security:intercept-url pattern="/backendAdmin/dist/**" access="permitAll" />
		<security:intercept-url pattern="/backendAdmin/actionUnhandledExceptionHandler.action*" access="permitAll" />
		<security:intercept-url pattern="/backendAdmin/Registration*_input.action" access="permitAll" />
		<security:intercept-url pattern="/backendAdmin/Registration*_insert.action" access="permitAll" />
		<security:intercept-url pattern="/backendAdmin/RegistrationSuccess.action" access="permitAll" />
		<security:intercept-url pattern="/backendAdmin/ContactUs*_input.action" access="permitAll" />
		<security:intercept-url pattern="/backendAdmin/ContactUs*_insert.action" access="permitAll" />
		<security:intercept-url pattern="/backendAdmin/ContactUsSuccess.action" access="permitAll" />
		
		<security:intercept-url pattern="/Admin**/**" access="hasAnyRole('ROLE_COMPANY_ADMIN','ROLE_ADMIN','ROLE_ROOT')" />
		<security:intercept-url pattern="/backendAdmin/**" access="hasAnyRole('ROLE_COMPANY_ADMIN','ROLE_ADMIN','ROLE_ROOT')" />
		<!-- <security:intercept-url pattern="/**" access="isAuthenticated()" /> -->
		
		<security:anonymous/>
		<!-- <security:intercept-url pattern="/**" access="denyAll" /> -->
		<security:logout 
		    invalidate-session="true" 
		    logout-success-url="/login.jsp?logout=true" 
		    logout-url="/j_spring_security_logout" 
		/>
      
		<!-- delete-cookies="JSESSIONID" -->
		
		
		<!-- <security:session-management invalid-session-url="/loginpage.jsp?timeout=true"> -->
		<security:session-management>
			<!-- 一個帳號只可登入一次  -->
			<security:concurrency-control max-sessions="1000"  expired-url="/login.jsp" />
		</security:session-management> 
		
	</security:http>

	<!--apply the oauth client context
	<oauth:client id="oauth2ClientFilter" /> -->

		
</beans>
