<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util.xsd
    " >
    
	
	<import resource="classpath:com/gateweb/einv/spring/spring_db.xml" /> 
	<import resource="classpath:com/gateweb/einv/spring/spring_db2.xml" />

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}" />
		<property name="port" value="${mail.port}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />

		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
				<prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop>
			</props>
		</property>
	</bean>

	<!-- task -->
	<task:annotation-driven executor="executor" scheduler="scheduler" />
	<task:executor id="executor" pool-size="30" />
	<task:scheduler id="scheduler" pool-size="60" />

	<!--<bean id="invoiceAmountSummaryReportService" class="com.gateweb.charge.service.impl.InvoiceAmountSummaryReportFacadeImpl" />-->
	<!--<task:scheduled-tasks>-->
		<!--<task:scheduled ref="invoiceAmountSummaryReportService" method="transactionInsertDataFromEinvDatabase" cron="* */60 * * * *"/>-->
	<!--</task:scheduled-tasks>-->

	<!--使用Fix delay 24*60*1000 處理公司資料的同步-->
	<bean id="syncCompanyDataScheduler" class="com.gateweb.charge.service.impl.SyncCompanyDataFacadeImpl" />
	<task:scheduled-tasks>
		<task:scheduled ref="syncCompanyDataScheduler" method="syncCompanyDataFromEinvDatabase" initial-delay="1440000" fixed-delay="1440000"/>
	</task:scheduled-tasks>

	<!--使用fix delay 24*60*1000 處理發票資料的同步-->
	<bean id="syncInvoiceDataScheduler" class="com.gateweb.charge.service.impl.SyncInvoiceDataFacadeImpl" />
	<task:scheduled-tasks>
		<task:scheduled ref="syncInvoiceDataScheduler" method="syncByCurrentLastModifyDate" initial-delay="1440000"  fixed-delay="1440000"/>
		<!--<task:scheduled ref="syncInvoiceDataScheduler" method="syncByCurrentLastModifyDate" initial-delay="0"  fixed-delay="60"/>-->
	</task:scheduled-tasks>

</beans>
