<!DOCTYPE HTML>
<html>
<head th:replace="/fragments/bootstrapHeader.html :: header">
    <title>Index</title>
</head>
<body>
<div id="chmis">
    <div style="width:100%; margin:0 auto; overflow:auto; _display:inline-block;">
        <div class="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left" style="white-space:nowrap;"><span class="textstyle_01" id="envSpan"></span></td>
                </tr>
            </table>
        </div>
        <div class="mes">
            <table class="content" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left">

                    </td>
                    <td align="right">
                        <a class="float-right" href="javascript:logout()" title="登出系統"> <span
                                class="textstyle_01">登出　</span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="spacer"></div>

    <div style="width:100%; margin:0 auto;  background-image: url(/backendAdmin/images/bg.jpg); background-position: left;">
        <div class="mainMenu">
            <a href="/backendAdmin/indexServlet"><img src="/backendAdmin/images/logo.jpg"
                                                                                   width="200" height="127"/></a>
            <div id="menu" class="withoutBoxSizing">
                <div th:replace="/fragments/menu.html :: menu">Web Application. Passed parameter"</div>
            </div>
        </div>

        <div class="contant">
            <tr>
                <td>
                    <table id='contentMenu' class="content" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left"><span class="textstyle_06">以張計費歷程</span></td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <div class="form-group">
                                        <div class="input-group-sm">
                                            <select class="form-control" id="companyInputAutoComplete"> </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a href="#" id="search" name="search" title="查詢" class="butbox" data-toggle="modal"
                                           onclick="reloadView()"><span>查詢</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- master dataTable-->
            <tr id="#list">
                <td>
                    <div class="content" title="主要區域" style=" width:100%">
                        <div class="spacer"></div>
                        <table id="invoiceRemainingViewDataTable" content="main" border="0" width="98%"
                               cellspacing="0" cellpadding="0">
                            <thead>
                            <tr>
                                <th>invoiceRemainingId</th>
                                <th>公司統編</th>
                                <th>方案名稱</th>
                                <th>使用張數</th>
                                <th>剩餘張數</th>
                                <th>計算起始日</th>
                                <th>計算終止日</th>
                                <th>更新日期</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </td>
            </tr>
            <div class="spacer"></div>
        </div>
    </div>

    <div style="width:100%; margin:0 auto; overflow:auto; _display:inline-block;">
        <div class="top"></div>
        <div class="mes">
            <div style="text-align:center; width:100%">
                <span class="footerstyle_01">All rights reserved © 關網資訊股份有限公司‧本系統支援：Chrome 瀏覽器 ．螢幕解析度 1024x768 ．目前版本V.01 </span>
            </div>
        </div>
    </div>
</div>

<script>
    let companySelector;
    let invoiceRemainingViewListViewModel = {
        dataTable: undefined,
        chosenCompany: ko.observable({}),
        init: function (dom) {
            invoiceRemainingViewListViewModel.dataTable = initInvoiceRemainingListViewDataTable(
                $('#invoiceRemainingViewDataTable'), {}
            );
            ko.applyBindings(invoiceRemainingViewListViewModel, dom);
        },
        reloadViewWithCompanyId: function (companyId) {
            dataSourceModule.invoiceRemainingViewListAjaxCall(
                companyId,
                function (data) {
                    invoiceRemainingViewListViewModel.dataTable.clear();
                    invoiceRemainingViewListViewModel.dataTable.rows.add(data); // Add new data
                    invoiceRemainingViewListViewModel.dataTable.draw();
                    Swal.close();
                }
            )
        }
    }

    function reloadView() {
        try{
            let companyId = this.companySelector.chosenCompany().companyId;
            if (companyId) {
                this.reloadViewWithCompanyId(companyId);
            }
        }catch(e){
            console.log(e);
        }
    }

    function initViewModel() {
        companySelectorInitializer('companyInputAutoComplete', function (companySelector) {
            companySelector.chosenCompany.subscribe(function (newValue) {
                loadingAjaxProcessor(
                    function () {
                        invoiceRemainingViewListViewModel.reloadViewWithCompanyId(newValue.companyId);
                    }
                    , "處理中請稍候"
                );
            });
            this.companySelector = companySelector;
        });
        invoiceRemainingViewListViewModel.init(document.getElementById("invoiceRemainingViewDataTable"));
    }

    function initMenuTemplate() {
        return Promise.all([]);
    }

    function initPage() {
        const promiseMenuTemplateInit = initMenuTemplate();
        promiseMenuTemplateInit
            .then(result => draggableModal(result))
            .then(result => initTooltip(result))
            .then(result => initViewModel());
    }

</script>
</body>
</html>