@charset "utf-8";
BODY {
    MARGIN: 0px auto;
    font-family: "微軟正黑體", "新細明體";
    COLOR: #333333;
    padding:0;
    font-size: 13px;line-height: 25px;
    /*background: #f1f1ee url(../images/bg01.jpg) center center fixed no-repeat;*/

    background: #5B5B5B  center center fixed no-repeat;
    /*漸層
    background: -webkit-linear-gradient(#EBD3E8,#430A0A) center center fixed no-repeat;;
    background: -o-linear-gradient(#EBD3E8,#430A0A) center center fixed no-repeat;;
    background: -moz-linear-gradient(#EBD3E8,#430A0A) center center fixed no-repeat;;
    background: linear-gradient(#EBD3E8,#430A0A) center center fixed no-repeat;;
    */

    -moz-background-size: cover;
    background-size: cover;
    height:100%;
}
div.top {width: 200px;height: 44px; background: #074054; float:left}
div.mes{
    margin-left:200px;
    height: 44px;
    background:#408080;
}
div.top2 {width: 200px;height: 12px; background-image:url(../images/001.jpg); float:left}
div.mes2{
    height: 20px;
    background-color:#373d49;
}
div.spacer {clear: both;margin: 0px;padding: 0px;}
div.menu {
    width: 200px;
    height:auto;
    background-image:url(../images/002.jpg);
    float:left;
}
div.contant{
    margin-left:200px;
    padding-top:30px;
    background-color:#f9f9f9;
    height:auto;
    overflow: auto;
}
div.contant2{
    padding-top:30px;
    background-color:#f9f9f9;
    height:auto;
}
.search_div{ float:left; width:auto; padding:5px 0px 0px 0px; width:400px}
.search_div div.line{ border:1px solid #ccc; width:250px}
.search_div input.input_bar{ font-size:96%; padding:2px;letter-spacing: 0.05em; width:78.5%; border:0px}
.search_div input.input_but{background-image: url(../images/ico_search.gif);background-repeat: no-repeat;background-position: left top; width:35px; height:32px; text-indent:-9999px; border:0px; cursor:pointer}
#chmis {
    MARGIN: 25px 20px auto 25px;
    WIDTH: 97%;
    background-color:#f9f9f9;
}

DIV.mainbanner_icon {
    position:absolute;
    Z-INDEX: 100;
    text-align: left;
    float:right;
    margin-top:210px;margin-left:60px;
}
DIV.mainbanner_icon2 {
    position:absolute;
    Z-INDEX: 100;
    text-align: left;
    float:right;
    WIDTH: 430px;
    height:60px;
    margin-top:495px;
    padding-top:20px;
    padding-left:30px;
    margin-left:30px;
    background-image: url(../images/copy_bg.png);
    color: #CCCCCC;
    font-size: 12px;
    font-family: "微軟正黑體", "新細明體";
    line-height: 20px;
}
DIV.mainbanner_icon3 {
    position:absolute;
    Z-INDEX: 100;
    text-align: left;
    float:right;
    margin-top:55px;margin-left:850px;
}
/* links Document */
a{	color: #1f7aa9;	text-decoration: none;}
a:link {color: #1f7aa9;text-decoration: none;}
a:visited {color: #1f7aa9;text-decoration: none;}
a:hover {color: #d13530;text-decoration: none;}
a.link {
    color: #CCCCCC;
    text-decoration: none;
}
a.link:link {color: #CCCCCC;text-decoration: none;}
a.link:visited {color: #CCCCCC;text-decoration: none;}
a.link:hover {color: #d13530;text-decoration: none;}

a.butbox{ border:1px solid #666; background:#666; padding:1px 3px 3px 3px; margin: 0px 10px 0px 5px; color:#fff;vertical-align:middle;}
a.butbox:link{color:#fff;text-decoration: none;}
a.butbox:hover{color:#ffe000;text-decoration: none;}
a.butbox2{ border:1px solid #666; background:#666; padding:1px 3px 3px 3px; margin: 0px 10px 0px 5px; color:#fff;vertical-align:middle;}
a.butbox2:link{color:#fff;text-decoration: none;}
a.butbox2:hover{color:#ffe000;text-decoration: none;}


.textstyle_01 {
    FONT-FAMILY: "微軟正黑體", "新細明體";
    FONT-SIZE: 13px;
    color: #CCCCCC;
    padding-left:10px;
    line-height:42px;
}

.textstyle_02 {
    FONT-FAMILY: "微軟正黑體", "新細明體";
    FONT-SIZE: 12px;
    color: #CCCCCC;
    padding-left:10px;
    padding-top:15px;
    line-height:35px;
}

.textstyle_04 {
 FONT-FAMILY: "微軟正黑體", "新細明體";
 FONT-SIZE: 12px;
 color: #CCCCCC;
 padding-left:10px;
 padding-top:15px;
 line-height:20px;
}

.textstyle_06 {
    FONT-FAMILY: "微軟正黑體", "新細明體";
    FONT-SIZE: 36px;
    color: #000000;
    line-height:70px;
}

.footerstyle_01 {
	FONT-FAMILY: "微軟正黑體", "新細明體";
    FONT-SIZE: 12px;
    color: #FFFFFF;
    line-height:35px;
	}
}

/* menu */
#testMenu {
    background-color:#125f76;width:200px;float:left;position: relative;}
#testMenu ul { width: 196px; /* Sub Menu Width */ margin: 0; list-style: none;top: 100%;  margin-left:-36px; }


*, *:before, *:after {
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
    border-sizing: border-box;
}





.dropdown {
    position: relative;
}
.dropdown a {
    text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
    display: block;
    color: white;
    background: #1e9ec3;
    -moz-box-shadow: 0 1px 0 #5db9d4 inset, 0 -1px 0 #1981a0 inset;
    -webkit-box-shadow: 0 1px 0 #5db9d4 inset, 0 -1px 0 #1981a0 inset;
    box-shadow: 0 1px 0 #5db9d4 inset, 0 -1px 0 #1981a0 inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.dropdown [data-toggle="dropdown"]:hover {
    background: #29acd2;
}
.dropdown [data-toggle="dropdown"]:before {
    position: absolute;
    display: block;
    content: '\25BC';
    font-size: 0.7em;
    color: #fff;
    top: 13px;
    right: 10px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}
.dropdown > .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    margin-left:36px;
    padding-left:36px;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
}
.dropdown > .dropdown-menu li {
    padding: 0;
}
.dropdown > .dropdown-menu li a {
    display: block;
    color: #6e6e6e;
    background: #eeeeee;
    -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
    -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    padding: 10px 10px;
}
.dropdown > .dropdown-menu li a:hover {
    background: #f6f6f6;
}
.dropdown > input[type="checkbox"] {
    opacity: 0;
    display: block;
    position: absolute;
    top: 3px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    left: -7px;
}
.dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
    max-height: 9999px;
    display: block;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 2s ease-in-out;
    -o-transition: max-height 2s ease-in-out;
    -webkit-transition: max-height 2s ease-in-out;
    transition: max-height 2s ease-in-out;
}
.dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

@keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }

    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-moz-keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }

    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }

    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }

    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}
@-moz-keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}
@-webkit-keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }

    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }

    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}


/*2013 detail*/
div.headertitle{ width:98%;margin:0px auto;font-size:25px; line-height:25px;font-family: Verdana, Geneva, sans-serif,"微軟正黑體"; padding:10px 0px 10px 0px ; border:1px solid #d5d5d5; border-bottom:none;font-weight:bold; color:#545454;background-image: url(../images/title_bg.gif);	background-repeat: repeat-x; background-color:#dedede; overflow:auto}
div.headertitle2{width:92%;margin:0px;font-size:16px;line-height:25px;font-family: Verdana, Geneva, sans-serif,"微軟正黑體"; padding:10px 0px 10px 0px ; border:1px solid #d5d5d5; border-bottom:none;font-weight:bold; color:#545454;background-image: url(../images/title_bg.gif);	background-repeat: repeat-x; background-color:#dedede; text-align:center}
table.imglist { width:100%;BACKGROUND: #f3f3f3; padding:0px;border: solid 1px #dddddd; /* 邊框樣式 */margin:0px auto}
table.imglist th{ text-align:left; vertical-align:top; padding:10px; border-bottom:1px solid #e3e3e3; font-size:15px;border-right:1px solid #e3e3e3}
table.imglist th.odd{background:#f6f6f6}
table.imglist th.even{background:#eeeeee}
table.imglist td{ border-bottom:1px solid #e1e1e1; padding:10px; }
table.imglist tr.odd{ background:#fff}
table.imglist tr.even{ background:#f9f9f9}
table.imglist td span.reqfield{  vertical-align:top; color:#cc0000}

table.info{width:100%;BACKGROUND: #f3f3f3; padding:0px;border: solid 1px #CCC; /* 邊框樣式 */margin:10px auto}
table.info th{
    text-align:left;
    vertical-align:top;
    padding:10px;
    border-bottom:1px solid #e3e3e3;
    font-size:13px;
    border-right:1px solid #e3e3e3;
    background-color:#f2f5f9;
    color:#333333
}
table.info td{ padding:10px; border-bottom:1px solid #e3e3e3;font-size:13px; background-color:#fff}

td.textstyle_04{
	FONT-FAMILY: "微軟正黑體", "新細明體";
    FONT-SIZE: 12px;
    color: #FFFFFF;
    line-height:35px;
}

div.listL{width:100%;/* float:left*/}
div.listR{width:12%; float:right}
div.listR ul li{ padding:0; margin:0; list-style:none}
div.listR ul{width:92%;margin:0px; border:1px solid #ccc}
div.listR ul li{border-bottom:1px solid #ccc;}
div.listR ul li a{padding:8px 10px; background-image: url(../images/icon/tag_orange.png);	background-repeat: no-repeat;	background-position: 10px center; padding-left:35px; display:block;color:#000;}
div.listR ul li a:link{	text-decoration: none; color:#000; font-size:15px; display:block}
div.listR ul li a:hover{	text-decoration: none; color:#333; font-size:15px; background-color:#f6ebcd; display:block}

/*2013 forms*/
input{ font-family:Verdana, Geneva, sans-serif; color:#333;}
.radiobut{ margin:0px 4px; display: inline-block; vertical-align:-10%;vertical-align:-20%\9; width:20px}
.textinput100{ width:100px}
.textinput200{ width:200px}
.textinput300{ width:300px}
.textinput400{ width:400px}
.textarea400{ width:400px; height:150px}
.textarea600{ width:600px; height:150px}
.textarea300{ width:300px; height:150px}


.my-error-class {
    color:red;
}