<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
         
    <display-name>chargeproject</display-name>
	<context-param> 
		<param-name>contextConfigLocation</param-name> 
		<param-value>
		classpath:com/gateweb/einv/spring/spring_web.xml
		</param-value>
	</context-param>
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <filter>
	        <filter-name>springSecurityFilterChain</filter-name>
	        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>	
     
<!-- 	<filter>
	    <filter-name>CORS</filter-name>
	    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
	
	    <init-param>
	        <param-name>cors.allowOrigin</param-name>
	        <param-value>*</param-value>
	    </init-param>
	    <init-param>
	        <param-name>cors.supportsCredentials</param-name>
	        <param-value>false</param-value>
	    </init-param>
	    <init-param>
	        <param-name>cors.supportedHeaders</param-name>
	        <param-value>accept, authorization, origin</param-value>
	    </init-param>
	    <init-param>
	        <param-name>cors.supportedMethods</param-name>
	        <param-value>GET, POST, HEAD, OPTIONS</param-value>
	    </init-param>
	</filter>


	
	<filter-mapping>
	    <filter-name>CORS</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>  -->
   
    <filter>   
		<filter-name>CharacterEncoding</filter-name>   
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>   
			<init-param>   
				<param-name>encoding</param-name>   
				<param-value>UTF-8</param-value>   
			</init-param>
			<init-param>  
			   <param-name>forceEncoding</param-name>  
			   <param-value>true</param-value>  
			  </init-param>    
	</filter>   
	
    <filter-mapping>
        <filter-name>CharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

 	<filter-mapping>
	        <filter-name>springSecurityFilterChain</filter-name>
	        <url-pattern>/*</url-pattern>
	        <dispatcher>REQUEST</dispatcher>

        <!-- apply Spring Security authentication to error-pages -->
        <dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<servlet>
	    <servlet-name>mvc</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>classpath:com/gateweb/einv/spring/mvc-servlet.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	    <multipart-config/>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>mvc</servlet-name>
	    <url-pattern>/</url-pattern>
	  </servlet-mapping>
<!--      <filter>
        <filter-name>LogDataFilter</filter-name>
        <filter-class>com.gate.web.filters.LogDataFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogDataFilter</filter-name>
        <url-pattern>/backendAdmin/*</url-pattern>
    </filter-mapping>
 -->

<!--     <filter>
        <filter-name>SessionClean</filter-name>
        <filter-class>com.gate.web.filters.SessionCleanFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionClean</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->

<!--     <filter>
        <filter-name>CompanyIdFilter</filter-name>
        <filter-class>com.gate.web.filters.CompanyIdFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CompanyIdFilter</filter-name>
        <url-pattern>/backendAdmin/*</url-pattern>
    </filter-mapping> -->

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.gate.web.servlets.backend.common.UploadServlet</servlet-class>
        <multipart-config>
            <location>temp/UploadTemp</location>
            <max-file-size>5242880</max-file-size>
            <max-request-size>5242880</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/backendAdmin/uploadServlet</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>18000</session-timeout>
    </session-config>

    <!--<welcome-file-list>-->
        <!--<welcome-file>/backendAdmin/template/template.jsp</welcome-file>-->
    <!--</welcome-file-list>-->

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!--<error-page>-->
        <!--<location>/general_error.jsp</location>-->
    <!--</error-page>-->

    <error-page>
        <error-code>408</error-code>
        <location>/login_error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/login_error.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>